body {
  background-color: lightgrey;
  padding: 50px;
  border-style: double;
  border-radius: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/money.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

img {
  max-width: 100%;
}

a {
  color: deeppink;
}
